@font-face {
  font-family: Mont;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Mont-SemiBold.ttf');
}
@font-face {
  font-family: Mont;
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Mont-Bold.ttf');
}
@import "variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all .3s ease;
  }

  ol, ul {
    padding: 0;
    list-style: none;
  }
}

body {
  font-family: 'Mont', sans-serif;
  font-weight: 700;
  color: #FFF;
  line-height: 120%;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1240px;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 576px) {
    padding: 0 15px;
  }
}
